<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Alpha Kappa Rho", root_path,id: "logo" %>
      <nav>
        <ul class="nav pull-center">
          <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Member",    '#' %></li>
          <li><%= link_to "Album", '#' %></li>
          <li><%= link_to "History", '#' %></li>
          <li><%= link_to "About Us", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>